@import 'src/colours.scss';
.navbar {
    padding: 0rem 0rem 0rem 4rem;
    border-bottom: 0.5px solid gray;
}
.nav_item {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
}
.icon_border {
    border-right: 1px solid $gray-dark;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
}
ul li:last-child {
    border: none
}
.wrapper {
    background: $gray-dark-2x;
    height: 15rem;
}