@import 'src/colours.scss';
.wrapper_container {
    height: 100%;
    background: #FFFF;
    border: 0.5px solid gray;
}
 .wrapper_content {
     padding: 0 1.5rem;
     background: url(../../assests/tri_bg.png) no-repeat;
     width: auto;
     height: 15rem;
     background-position: right;
     border-bottom: 1px solid $gray-2x;
   
 }
.form_header {
    color: $blue-1x;
    padding-top: 4rem;
}

.form_subheader {
    color: $gray-1x;
    width: 60%;
    margin-top: 1rem;
    font-size: 1.2rem;
}
.form_question {
    padding: 2rem 0 0 1.5rem;
        .question_header {
            color: $green-1x;
            font-size: 1.5rem;
        }
}
.selection_tile_infra {
    background: url(../../assests//cpu.png) 1rem 0.5rem  no-repeat $gray-light;
    height: 100%;
    width: 300px;
    color: $gray-light-1x;
    border: 1px solid $gray-light-1x;
    margin-right: 1.5rem;
    border-radius: 0.5rem;
    padding: 20px 20px 0px 110px;
    cursor: pointer;
}

.selection_tile_infra:hover {
    background: url(../../assests/cpu2.png) 1rem 0.5rem  no-repeat $blue-2x; 
    color: white;
}

.selected_infra {
    background: url(../../assests/cpu2.png) 1rem 0.5rem  no-repeat $blue-2x; 
    color: white;
}
.selection_tile_vcloud {
    background: url(../../assests/cpu_up.png) 1rem 0.5rem no-repeat $gray-light;
    height: 100%;
    width: 300px;
    color: $gray-light-1x;
    border: 1px solid $gray-light-1x;
    margin-right: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 10px;
    padding: 20px 20px 0px 110px;
    cursor: pointer;
}

.selection_tile_vcloud:hover {
    background: url(../../assests/cpu_up2.png) 1rem 0.5rem no-repeat $blue-2x;
    color: white;
}

.selected_vcloud {
    background: url(../../assests/cpu_up2.png) 1rem 0.5rem no-repeat $blue-2x;
    color: white;
}

.selection_tile{
    display: flex;
    padding-bottom: 2.5rem;
}

.divider {
    padding: 10px 0px;
    margin-top: 10px;
    border-top: 1px solid $gray-light-1x;
    color: inherit;
    font-size: 12px;
}