@import 'src/colours.scss';
.question_header {
    color: $green-1x;
    font-size: 1.5rem;
    padding-top: 2rem;
    border-top: 1px solid $gray-dark-1x;
    width: 80%;
}

.currency_dropdown {
    width: 25rem;
    border-radius: .5rem;
    margin-top: .6rem;
    color: gray;
    height: 2.2rem;
    padding-left: .4rem;
    margin-bottom: 3rem;
}

.vm_input {
    width: 25rem;
    height: 2.2rem;
    margin-bottom: 3rem;
    margin-top: .6rem;
    color: $gray-1x;
    padding-left: 0.5rem;
    background-color: $gray-light;
}

.product_wrapper {
    display: inline;
    margin: 0;
    padding: 0;
    padding-top: .6rem
}

.product_options {
    padding-right: 6rem;
    display: inline-block;
    width: 10rem
}