$gray-2x: #303030;
$blue-1x: #0295D3;
$gray-1x: #9B9B9B;
$green-1x: #6AB245;
$gray-light: #EEEDED;
$gray-light-1x: #A09EA1;
$blue-2x: #1b94d1;
$gray-dark: #696969;
$gray-dark-1x: #666666;
$gray-dark-2x: #343a40;
$white-1x: #FFFFFF;